<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moa.moa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moa">
        <activity
            android:name=".Work.WorkActivity"
            android:exported="false" />
        <receiver android:name=".Data.AlarmReceiver"
            android:exported="false"/>

        <activity
            android:name=".Main.ChartViewComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_chart_view_compose_activitu"
            android:theme="@style/Theme.Moa" />
        <activity
            android:name=".Main.HomeActivity"
            android:exported="true" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Register.LoginActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>